* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: black;
  color: white;
}

header {
  border-bottom: 1px solid rgb(38, 38, 38);
}

nav img {
  display: flex;
  align-items: center;
}

li a {
  color: white;
  transition: all 0.3s ease;
}

li a:hover {
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-box button {
  width: 175px;
  height: 44px;
  border-radius: 60px;
  border: 1.62px solid;
  border-image: linear-gradient(to right, #999999 100%, #141414 100%) 1;
  border-style: solid;
  backdrop-filter: blur(22.6499996185px);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 25px;
}

.section1 .shell1 {
  margin-top: 70px;
}
.section1 .box1 h1 {
  font-size: 95.95px;
  font-weight: 300;
  line-height: 115.14px;
  letter-spacing: -0.06em;
  text-align: left;
}
.section1 .box1 h1 span {
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 .box1 button {
  width: 255px;
  height: 68px;
  border-radius: 60px;
  border: 1.62px solid;
  border-image: linear-gradient(to right, #999999 100%, #141414 100%) 1;
  border-style: solid;
  backdrop-filter: blur(22.6499996185px);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  font-size: 22.65px;
  color: red;
}
.section1 .box1 .inf {
  margin-top: 60px;
}
.section1 .box1 .inf .inf1 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 420px;
}
.section1 .box1 .inf .inf2 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 420px;
}
.section1 .box1 .inf h5 {
  font-style: 16px;
}
.section1 .box1 .inf p {
  color: white;
}
.section1 .box1 .inf h1 {
  font-size: 59.3px;
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 .in h1 {
  font-size: 59.3px;
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 .in .inf3 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 420px;
}
.section1 .in .inf4 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 420px;
  padding-bottom: 26px;
}
.section1 header {
  position: sticky;
  top: 0;
}

#section2 #second-box h2 {
  font-size: 22.65px;
  color: #ADA785;
}
#section2 #second-box h1 {
  font-size: 59.3px;
}
#section2 #second-box h1 span {
  color: #ADA785;
}
#section2 #second-box p {
  color: #E5E5E5;
}
#section2 .thirst-box h1 {
  font-size: 22.65px;
}
#section2 .thirst-box p {
  color: #E5E5E5;
}

#section3 h2 {
  color: #ADA785;
  font-size: 22.65px;
}
#section3 h1 {
  font-size: 59.3px;
}
#section3 h1 span {
  color: #ADA785;
}
#section3 p {
  color: #ADA785;
}
#section3 #blok1 {
  background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border: 1.62px solid;
  border-image-source: linear-gradient(200.74deg, #999999 0%, #141414 100%);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
}
#section3 #foto img {
  border-radius: 0 0 60px 0;
}
#section3 #blok-box .h1 {
  font-size: 59.3px;
  font-weight: 300;
  line-height: 78.21px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-top: -350px;
  margin-left: 30px;
}
#section3 #blok-box p {
  margin-left: 30px;
}
#section3 #blok2 {
  background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border: 1.62px solid;
  border-image-source: linear-gradient(200.74deg, #999999 0%, #141414 100%);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
  padding-top: 60px;
}
#section3 h2 {
  color: white;
}
#section3 #blok3 {
  background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border: 1.62px solid;
  border-image-source: linear-gradient(200.74deg, #999999 0%, #141414 100%);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
}
#section3 #blok3 h1 {
  font-size: 59.3px;
  font-weight: 300;
  line-height: 78.21px;
  letter-spacing: -0.04em;
  text-align: left;
}

#section3 h1 {
  font-size: 59.3px;
}
#section3 #bot1 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 190px;
  padding-bottom: 20px;
}
#section3 #bottoms h1 {
  color: #ADA785;
}
#section3 #bottoms p {
  color: white;
}
#section3 #bottom3 h1 {
  color: #ADA785;
}
#section3 #bottom3 p {
  color: white;
}
#section3 #bot2 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 450px;
  padding-bottom: 20px;
}

#section4 h2 {
  color: #ADA785;
  font-size: 22.65px;
}
#section4 h1 {
  font-size: 59.3px;
  font-weight: 400;
  line-height: 78.21px;
  letter-spacing: -0.04em;
  text-align: left;
}
#section4 h1 span {
  color: #ADA785;
}
#section4 #four-case {
  display: flex;
  justify-content: space-between;
}
#section4 #bot1 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 170px;
  padding-bottom: 20px;
}
#section4 #bot2 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 450px;
  padding-bottom: 20px;
}

#section5 {
  text-align: center;
}
#section5 h2 {
  font-size: 22.65px;
  color: #ADA785;
}
#section5 h1 {
  font-size: 59.3px;
  font-weight: 400;
  line-height: 78.21px;
  letter-spacing: -0.04em;
  text-align: left;
}
#section5 h1 span {
  color: #ADA785;
}
#section5 #bottoms {
  text-align: start;
}
#section5 #bottoms h1 {
  color: #ADA785;
}
#section5 #bottoms #bot1 {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(#262626 100%, #ADA785 100%, #262626 100%) 1;
  border-style: solid;
  width: 170px;
  padding-bottom: 20px;
}

#section6 #dir {
  background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border: 1.62px solid;
  border-image-source: linear-gradient(200.74deg, #999999 0%, #141414 100%);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
}
#section6 h1 {
  font-size: 59.3px;
  font-weight: 400;
  line-height: 78.21px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ADA785;
}
#section6 button {
  width: 245px;
  height: 54px;
  border-radius: 60px;
  border: 1.62px solid;
  border-image: linear-gradient(to right, #999999 100%, #141414 100%) 1;
  border-style: solid;
  backdrop-filter: blur(22.6499996185px);
  box-shadow: -2.62px -1.62px 4.24px 0px rgba(250, 250, 250, 0.2196078431) inset;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  font-size: 22.65px;
  color: red;
}
#section7 img {
  border-radius: 60px;
}
#section7 h2 {
  font-size: 36.65px;
  font-weight: 400;
  line-height: 48.34px;
  letter-spacing: -0.04em;
  text-align: left;
}
#section7 h2 span {
  color: #ADA785;
}
#section7 h3 {
  font-size: 22.65px;
  font-weight: 400;
  line-height: 29.87px;
  text-align: left;
  color: #ADA785;
}
#section7 #learn h3 {
  font-size: 16px;
}

p {
  color: #E5E5E5;
}

/*# sourceMappingURL=main.css.map */
